.container-home {
    margin-left: 30%;
    margin-top: 50px;
}

.hello-box {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 5vw;
    color: rgb(95, 162, 255);
    width: 40%;
}

.text-gradient {
    font-size: 32px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, rgb(107, 171, 255), rgb(23, 112, 229));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}